# Carga de datos

In [1]:
%config IPCompleter.greedy=True

In [3]:
import pandas as pd
import os

In [5]:
main_path = "/home/karen/projects/anaconda/carga_de_datos/datasets"
filemane = "customer-churn-model/Customer Churn Model.txt"
fullpath = os.path.join(main_path, filemane)

In [6]:
df = pd.read_csv(fullpath)

In [8]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Ejemplos de los parametros de la funcion read_csv
read.csv(filepath(), sep=",", dtype={"ingreso":np.float64, "edad":np.int32}, header=0, names={"ingresos", "edad"},skiprows=12, index_col=None,  skip_blank_lines=True, na_filter=True, )

In [10]:
df.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

### Reetiquetado

In [13]:
data_cols = pd.read_csv(main_path+"/"+"customer-churn-model/Customer Churn Columns.csv")

In [18]:
data_col_list = data_cols["Column_Names"].tolist()
data_col_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U']